button {
  @apply bg-[#27D0B2]  rounded-full grid place-content-center text-[#0c4f6c] transition-all;
  background: #279ad0;
  box-shadow: 20px 20px 60px #2183b1, -20px -20px 60px #2db1ef;
}

button:active {
  background: #279ad0;
  box-shadow: inset 20px 20px 60px #2183b1, inset -20px -20px 60px #2db1ef;
}
